In [1]:
import pandas as pd
import numpy as np
import random
from faker import Faker

In [2]:
#initialisation de faker 
fake = Faker()
fake = Faker("fr_FR")

In [3]:
#génération des données 
nb= 1000 # nombres de données à générer

Data = { 
    "Id_Region":[fake.random_int(min=1 , max=10) for i in range(nb)],
    "Name_Region":[fake.random_element(["Adamaoua","Centre","Est","Sud","Littoral","Nord","Sud-Ouest","Ouest","Extreme_Nord","Nord_Ouest"]) for i in range(nb)],
    "Country":[fake.country() for i in range(nb)],
    }

In [4]:
#impression du DataFrame
Df = pd.DataFrame(Data)
Df

     Id_Region   Name_Region                      Country
0            9     Sud-Ouest                      Vietnam
1           10         Ouest                     Honduras
2            6  Extreme_Nord                       Suisse
3            1    Nord_Ouest     Saint Pierre et Miquelon
4            2           Est                      Andorre
..         ...           ...                          ...
995          2        Centre                      Mayotte
996          5      Adamaoua  Territoires français du sud
997         10          Nord                Corée du Nord
998          4     Sud-Ouest      Turks et Caïques (Îles)
999          8         Ouest                    Lithuanie

[1000 rows x 3 columns]