In [2]:
import pandas as pd 
from tqdm import tqdm 
import sqlite3 
import os 
from glob import glob

In [6]:
# charger mes donnees

data = pd.read_csv('../Data/Train/devices.csv')
data

,Unnamed: 0,device_id,device_type,os,manufacturer,model,last_used
0,0,bf0a18a6-040b-4652-bd9e-6bd0fad52f8f,mobile,mac,LG,NanoCell TV,2022-07-10 00:31:43
1,1,897bc57d-c097-4bc9-95c6-e3cd72fc89ed,tablette,mac,Sharp,aquos sense 5g,2020-10-01 16:28:20
2,2,e996e9fb-ee0c-4d28-a317-42360e5191af,mobile,mac,HP,envy 13,2020-12-19 05:07:24
3,3,cf1961a2-c230-462a-a78a-5b367ccb1a04,tablette,ios,dell,PRECISION 5550,2023-04-11 21:43:00
4,4,8ecf1753-26e9-4a78-a2ba-c91f9ef60b2d,tablette,ios,HP,OMEN 15,2022-10-23 03:10:42
...,...,...,...,...,...,...,...
99995,99995,ece7bd14-2351-4a34-909a-eb2865361218,tablette,mac,dell,XPS 13,2023-05-18 05:16:20
99996,99996,1f7bce23-f811-42eb-8cb3-c47b3b21cb72,mobile,mac,LG,spectre x3670,2022-01-18 22:18:14
99997,99997,a3bd74e9-28d4-4acf-83c6-a84d1b12d9f1,tablette,ios,Sharp,dynabook v8,2020-02-24 06:54:29
99998,99998,5c51b339-9724-4058-941c-5c5c96f8d6f8,tablette,windows,LG,Wing 5G,2020-07-12 19:01:49
99999,99999,1499c769-3666-46a9-b32f-49a425f4bf8a,mobile,mac,Apple,ipad pro,2021-11-18 12:34:04

# creation de la  connection avec  la base de donnee sqlite

#####  IL EST IMPORTANT D'AVOIR LA BASE DE DONNE  fraude_detection_warehouse.db OU D'EN CREE UNE AVEC CE NOM

In [7]:
conn = sqlite3.connect('../Data/db/fraude_detection_warehouse.db')
conn

In [15]:
# supprimer la columns  Unnamed: 0 dans le csv 
data = data.drop(columns=['Unnamed: 0'])

In [16]:
data

,device_id,device_type,os,manufacturer,model,last_used
0,bf0a18a6-040b-4652-bd9e-6bd0fad52f8f,mobile,mac,LG,NanoCell TV,2022-07-10 00:31:43
1,897bc57d-c097-4bc9-95c6-e3cd72fc89ed,tablette,mac,Sharp,aquos sense 5g,2020-10-01 16:28:20
2,e996e9fb-ee0c-4d28-a317-42360e5191af,mobile,mac,HP,envy 13,2020-12-19 05:07:24
3,cf1961a2-c230-462a-a78a-5b367ccb1a04,tablette,ios,dell,PRECISION 5550,2023-04-11 21:43:00
4,8ecf1753-26e9-4a78-a2ba-c91f9ef60b2d,tablette,ios,HP,OMEN 15,2022-10-23 03:10:42
...,...,...,...,...,...,...
99995,ece7bd14-2351-4a34-909a-eb2865361218,tablette,mac,dell,XPS 13,2023-05-18 05:16:20
99996,1f7bce23-f811-42eb-8cb3-c47b3b21cb72,mobile,mac,LG,spectre x3670,2022-01-18 22:18:14
99997,a3bd74e9-28d4-4acf-83c6-a84d1b12d9f1,tablette,ios,Sharp,dynabook v8,2020-02-24 06:54:29
99998,5c51b339-9724-4058-941c-5c5c96f8d6f8,tablette,windows,LG,Wing 5G,2020-07-12 19:01:49
99999,1499c769-3666-46a9-b32f-49a425f4bf8a,mobile,mac,Apple,ipad pro,2021-11-18 12:34:04

In [17]:
#savegarde des data dans la base de donnee
data.to_sql('devices',conn, if_exists='replace', index=False )

100000

In [20]:

# filtrage en pandas  pour afficher tous les devices de type mobile 
data[data.device_type=='mobile']

,device_id,device_type,os,manufacturer,model,last_used
0,bf0a18a6-040b-4652-bd9e-6bd0fad52f8f,mobile,mac,LG,NanoCell TV,2022-07-10 00:31:43
2,e996e9fb-ee0c-4d28-a317-42360e5191af,mobile,mac,HP,envy 13,2020-12-19 05:07:24
10,135a00a7-fdb9-4413-8ab5-e846b9e2a488,mobile,linux,HP,pavillon 15,2019-11-29 02:03:45
13,b4a27a18-5afd-42af-a71b-f9f2d6f0930e,mobile,android,SONY,Xperia 5 II,2023-10-24 23:49:08
15,e41197da-5de4-4711-ba0e-7b6e659d25e1,mobile,mac,SONY,Xperia 5 II,2020-08-30 10:46:03
...,...,...,...,...,...,...
99986,8d142e6b-0763-43ec-b876-6dfdc8ef146c,mobile,windows,dell,INSPIRON 15,2022-12-22 05:36:22
99987,4b9c7310-e59b-41dd-b7bd-0d7a0b655a24,mobile,windows,Apple,ipad pro,2021-03-08 04:55:30
99990,31c0a322-8c1d-41cd-958c-f02f0c8c3d20,mobile,android,Apple,iphone Xr,2021-03-22 16:52:34
99996,1f7bce23-f811-42eb-8cb3-c47b3b21cb72,mobile,mac,LG,spectre x3670,2022-01-18 22:18:14
99999,1499c769-3666-46a9-b32f-49a425f4bf8a,mobile,mac,Apple,ipad pro,2021-11-18 12:34:04

In [22]:
# filtrage en SQL  pour afficher tous les devices de type mobile 
query = """ 
SELECT * FROM  devices
WHERE device_type= 'mobile'

"""

In [23]:
# excution du filtrage 

query_data = pd.read_sql(query , conn )

In [24]:
# affichage du filtrage 

query_data

,device_id,device_type,os,manufacturer,model,last_used
0,bf0a18a6-040b-4652-bd9e-6bd0fad52f8f,mobile,mac,LG,NanoCell TV,2022-07-10 00:31:43
1,e996e9fb-ee0c-4d28-a317-42360e5191af,mobile,mac,HP,envy 13,2020-12-19 05:07:24
2,135a00a7-fdb9-4413-8ab5-e846b9e2a488,mobile,linux,HP,pavillon 15,2019-11-29 02:03:45
3,b4a27a18-5afd-42af-a71b-f9f2d6f0930e,mobile,android,SONY,Xperia 5 II,2023-10-24 23:49:08
4,e41197da-5de4-4711-ba0e-7b6e659d25e1,mobile,mac,SONY,Xperia 5 II,2020-08-30 10:46:03
...,...,...,...,...,...,...
49896,8d142e6b-0763-43ec-b876-6dfdc8ef146c,mobile,windows,dell,INSPIRON 15,2022-12-22 05:36:22
49897,4b9c7310-e59b-41dd-b7bd-0d7a0b655a24,mobile,windows,Apple,ipad pro,2021-03-08 04:55:30
49898,31c0a322-8c1d-41cd-958c-f02f0c8c3d20,mobile,android,Apple,iphone Xr,2021-03-22 16:52:34
49899,1f7bce23-f811-42eb-8cb3-c47b3b21cb72,mobile,mac,LG,spectre x3670,2022-01-18 22:18:14
49900,1499c769-3666-46a9-b32f-49a425f4bf8a,mobile,mac,Apple,ipad pro,2021-11-18 12:34:04

### SAVE ALL DATA

In [ ]:
## LISTER TOUS LES FICHIERS DATA DISPONIBLE

In [38]:
list_data = glob('../Data/Train/*')
list_data

['../Data/Train\\alerts.csv',
 '../Data/Train\\customers.csv',
 '../Data/Train\\devices.csv',
 '../Data/Train\\transactions.csv',
 '../Data/Train\\transaction_history.csv',
 '../Data/Train\\transaction_patterns.csv']

In [45]:
## separation du nom du fichier
name_tables = list_data[0].split(os.sep)[-1]..split('.')[0]
name_tables = name_tables.split('.')[0]
name_tables

'alerts'

### CHARGEMENT DE TOUS LES FICHIERS DANS LA BASE DE DONNEES

In [53]:
for table in tqdm(list_data) : 
    name_tables = table.split(os.sep)[-1].split('.')[0]  # recuperation du nom de la table a partir du path 
    data_tmp =  pd.read_csv(table)  # chargement de la csv avec pandas 
    data_tmp.to_sql(name_tables , conn , if_exists='replace', index=False) # savegarde du csv dans le base de donnee 
    
    print(name_tables)

  0%|          | 0/6 [00:00<?, ?it/s]

alerts

 33%|███▎      | 2/6 [00:00<00:00,  7.35it/s]

customers

 50%|█████     | 3/6 [00:02<00:02,  1.21it/s]

devices

 67%|██████▋   | 4/6 [00:05<00:03,  1.95s/it]

transactions

 83%|████████▎ | 5/6 [00:09<00:02,  2.53s/it]

transaction_history

100%|██████████| 6/6 [00:11<00:00,  1.97s/it]

transaction_patterns